/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f161f;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #353bd7;
    border-radius: 10px;
    background-color: #1bb06f;
    padding: 20px;
    box-shadow: 0 0 10px #fbff03;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3eb15d;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f2f60a;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ba7a04;
}



